.cartpage{
    overflow-y: auto;
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: flex-start;
 flex-direction: row;
}
.cartpage_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mycart{
    text-align: center
}
.upperoutline{
    border: 2px solid rgba(225, 225, 225, 1);
    width: 70vw;
    margin-left: 2%;
}
.elements{
/* margin-left: 2%;
margin-top: 2%; */
    img{
        width: 10vw;
        margin-left: 2%;
        margin-top: 2%;
    }
}
.elements_container{
    display: flex;
    justify-content: space-around;
    width: 70vw;
}
.right_sideline{
    border: 2px solid rgb(89, 84, 84);
    rotate: 180deg;
    /* margin-left: 1%; */
    height: 60vh;

}
.cartitems{
    height: 60vh;
    width: 70vw;
    overflow-y: auto;
    overflow-x: auto;
}
.cartitemContainer{
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: row;
}

.totalMRP{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.discountMRP{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.convience_fee{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product_details_header{
    display: flex;
    justify-content: center;
}
.productDetails{
    width: 30vw;
}
.totalamount .totalamountcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right_side_cart_comp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.placerder{
    display: flex;
    justify-content: center;
    button{
        background-color: 
        rgba(255, 214, 0, 1);
    }
}
.viewcart a{
    text-decoration: none;
    color: black;
}
.clearcart{
   margin-right: 2%; 
   button{
    background-color: rgb(108, 84, 99);
   }
}
.cartitems_rs{
    display: none;
}
.totalamountcontainer2{
    display: none;
}
.convinece_fee_msg{
    display: none;
}
.placerder2{
    display: none;
}
.leftarrow_container{
    display: none;
}
@media screen and (max-width: 600px) {
    .cartpage{
        display: flex;
        flex-direction: column;
    }
    .right_side_cart_comp{
        display: none;
    }
    .mycart{
        display: flex;
        justify-content: center;
    }
    .cartitemContainer{
        display: block;
    }
    .cartitems{
    
        display: none;
    }
    .elements_container{
        display: flex;
        /* justify-content: space-evenly; */
        width: 100vw;
        img{
            width: 30vw;
            height: 22vh;
        }
    }
    .upperoutline{
        width: 100vw;
    }
    .cartitems_rs{
        display: flex;
        flex-direction: column;
        height: 60vh;
        overflow-y: auto;
    }
    .quantity{
        display: flex;
        /* align-items: center; */
        flex-direction: column;
    }
    .total{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
 
    .convinece_fee_msg{
        display: flex;
        justify-content: flex-end;
       h3{
        margin: 0;
       }
    }
    .cartimgs{
        display: flex;
        align-items: center;
    }.placerder2{
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 6%;
        button{
            width: 50vw;
            background-color: rgba(255, 214, 0, 1);
        }
    }
    .totalamountcontainer2{
        display: flex;
        justify-content: space-around;
        h2{
            margin:0
        }
    }
    .leftarrow_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px){
    .cartpage{
        display: flex;
        flex-direction: column;
    }
    .right_side_cart_comp{
        display: none;
    }
    .mycart{
        display: flex;
        justify-content: center;
    }
    .cartitemContainer{
        display: block;
    }
    .cartitems{
    
        display: none;
    }
    .elements_container{
        display: flex;
        /* justify-content: space-evenly; */
        width: 100vw;
        img{
            width: 30vw;
            height: 22vh;
        }
    }
    .upperoutline{
        width: 100vw;
    }
    .cartitems_rs{
        display: flex;
        flex-direction: column;
        height: 60vh;
        overflow-y: auto;
    }
    .quantity{
        display: flex;
        /* align-items: center; */
        flex-direction: column;
    }
    .total{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
 
    .convinece_fee_msg{
        display: flex;
        justify-content: flex-end;
       h3{
        margin: 0;
       }
    }
    .cartimgs{
        display: flex;
        align-items: center;
    }.placerder2{
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 6%;
        button{
            width: 50vw;
            background-color: rgba(255, 214, 0, 1);
        }
    }
    .totalamountcontainer2{
        display: flex;
        justify-content: space-around;
        h2{
            margin:0
        }
    }
    .leftarrow_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}