
.Homepage_Common{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    max-height: 400vh;
}.nav{
    display: flex;
    justify-content: space-between;
    background-color: #2E0052;
    align-items: center;
    color: white;
    height: 6vh;
}

.contactnumber{
    margin-left:2% ;
}

.contactnumber span{
    margin-right: 10%;
}
.login_signup {
    margin-right: 2%;
}
.login_signup span{
    color: white;
    
}
.login_signup a{
    text-decoration: none;
    color: white;
}

.header1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.company_logo img{
    width: 3vw;
}
.company_header{
    
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartbuton{
    margin-right: 6%;
    button{
        i{
            font-size: 130%;
            color: white;
            
           
        }
        ;
       background-color: rgba(29, 112, 0, 1) ;
       color: white;
    }
}
.lefthomeheader{
    width:50vw;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Homebutton{
    margin-left: 4%;
   
}
.Homebutton a{
    color: black;
}
.companyname h2{
    padding-bottom: 4% ;
}
.banner{
    display: flex;
    justify-content: center;
    position: relative;
}
.banner img{
    width: 70vw;
}
.model{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
   min-width: 10vw;
   max-width: 40vw;
    top: 10.2%;
    right: 25%;
    transform: translateX(50%);
    /* transform: translateY(50%); */
}
.model img{
    width: 25vw;
   /* display: block; */

}
.offertext{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    position: absolute;
    top: 16%;
    right: 55%;
    transform: translateX(50%);
    width: 54vw;
}
.offertext h1{
    font-size: 3vw;
}
.buynow button{
    background-color: #2E0052;
    color: white;
    width: 13vw;
}
.searchbox{
    display: flex;
    justify-content: center ;
    margin-top: 2vw;
}
.searchbox input{
    width: 70vw;
    height: 6vh;
    border: 3px solid #C8C8C8;
    border-radius: 48px;
    font-size: large;
}
.viewicons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.viewicons img{
    width: 2vw;
    cursor: pointer;
}
.listing_factors{
    display: flex;
    justify-content: center;
}
.listing_factor_inner_container{
    width: 70vw;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.listing_factors select{
  
    height: 4vh;
    border-radius: 34px;
    background-color: #D9D9D9;
    text-align: center;
}
.filter_factors{
    display: flex;
    
}
.filter_factors select{
    font-weight: 700;
}
.background img{
    background-color: black;
}
.image_basicInfo img{
width: 15vw;
max-width: 15vw;
max-height: 25vh;

/* height: 10vh; */
}
.image_basicInfo{
    cursor: pointer;
    width : 22vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 30px 0px #1c181814;
    justify-content: center;
    /* border: 0.5px solid black; */
    margin: 0.3%;
    
}
.image_basicInfo p{
    font-weight: 700;
    margin: 0;
    width: 15vw;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.product_details{
    padding: 0 0% 0 3%;
}
.image_basic_info_list{
    display: flex;
    margin: 0 15% 2% 15%;

}
.list-view-details-btn{
    cursor: pointer;
}
.product_image_list img{
    width: 15vw;
    max-width: 15vw;
    max-height: 25vh;
}
.product_details_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product_details_list p{
    margin: 0 0 1% 0;
}
.product_details_list button{
    color: white;
    border-radius: 26px;
    background-color: #2E0052;
}
.displaynone{
    display: none;
}
.logout_btn a{
    text-decoration: none;
    color: white;
}
.footer{
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.nav2{
    display: none;
}
.home_cart_logout{
    display: none;
}

@media screen and (max-width:600px) {
    .Homepage_Common{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
    }
    .middle_body{
        height: 100vh;
        overflow-y: auto;
    }
    
    .nav{
        display: none;
    }
    .company_header{
        display: none;
    }
    .searchbox{
        display: none;
    }
    .nav2{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2E0052;
        width: 100vw;
        height: 10vh;
        input{
            width: 80vw;
            height: 4vh;
            border-radius: 5px;
            margin: 2% 0 2% 0;
            outline: none;
            border: none;
        }
    }
    .advertise-banner{
        margin-top: 10%;
        height: 20vh;
    }
    .advertise-title p{
      font-size: 100% !important;  
    }
    .advertise-action-btn{
        button{
            width: 30vw;
            height: 4vh;
            font-size: 10px;
        }
    }
    .viewicons{
        display: none;
      }
      .listing_factor_inner_container{
        width: 100vw;
        /* margin-top: 2%; */
       
        display: flex;
        justify-content: flex-start;
        flex-direction: row-reverse;    
        overflow-x: auto;
    }
    .listing_factors{
        padding: 3%;
        display: flex;
        justify-content: flex-start;
        select{
            border-radius: 10px;
        }
        
    }
    .sortby {
        margin-right: 4%;
        select{
            border-radius: 10px;
        }
    }
    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }
  
    .image_basicInfo {
        cursor: pointer;
        width: 42vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        box-shadow: 0px 4px 30px 0px #1c181814;
        justify-content: center;
        /* border: 0.5px solid black; */
        /* margin: 0.3%; */
        img{

            width: 35vw !important;
            max-width: 40vw;
            max-height: 25vh;
        }
        
    }
    .card{
        padding: 0;
    }
    .image_basicInfo p {
        font-weight: 700;
        margin: 0;
        width: 38vw;
        font-size: medium;
        white-space: nowrap;
        overflow: hidden; 
}
.closure{
    display: none;
}
.home_cart_logout{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #2E0052;
    p{
        color: white;
        margin: 0;
    }
}
 .home_res{
    display: flex;
    flex-direction: column;
    align-items: center;
   i{
    font-size: 200%;
    color: white;
   }
    
 }   
 .advertise-banner-container {
    display: flex ;
    flex-direction: row;
    justify-content: center;
    height: 25vh !important;
}
.cart_res{
    display: flex;
    flex-direction: column;
    align-items: center;
    i{
        font-size: 200%;
        color: white;
    }
}
.logout_res{
    display: flex;
    flex-direction: column;
    align-items: center;
    i{
        font-size: 200%;
        color: white;
    }
}
.login_res{
    display: flex;
    flex-direction: column;
    align-items: center;
    i{
        font-size: 200%;
        color: white;
    }
}
    .highlight{
        i{
            color: rgba(255, 214, 0, 1);
            font-size: 200%
        }
    }
    .displayoriginal
{
    display: flex;
    flex-direction: column;
    align-items: center;
    i{
        font-size: 200%;
        color: white;
    }
}
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
    .nav{
        display: none;
    }
    .company_header{
        display: none;
    }
    .searchbox{
        display: none;
    }
    .nav2{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2E0052;
        width: 100vw;
        height: 10vh;
        input{
            width: 80vw;
            height: 4vh;
            border-radius: 5px;
            margin: 2% 0 2% 0;
            outline: none;
            border: none;
        }
    }
    .advertise-banner{
        margin-top: 10%;
        height: 20vh;
    }
    .advertise-title {
        p{

            font-size: 100% !important;  
        }
      }
      .middle_body{
        height: 100vh;
        overflow-y: auto;
    }
      .advertise-action-btn{
          button{
              width: 30vw;
              height: 4vh;
              font-size: small;
          }
      }
      .viewicons{
        display: none;
      }
      .listing_factor_inner_container{
        width: 100vw;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;    
        overflow-x: auto;
    }
    .closure{
        display: none;
    }
    .home_cart_logout{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        background-color: #2E0052;
        p{
            color: white;
            margin: 0;
        }
    }
     .home_res{
        display: flex;
        flex-direction: column;
        align-items: center;
       i{
        font-size: 200%;
        color: white;
       }
        
     }   
     .advertise-banner-container {
        display: flex ;
        flex-direction: row;
        justify-content: center;
        height: 25vh !important;
    }
    .cart_res{
        display: flex;
        flex-direction: column;
        align-items: center;
        i{
            font-size: 200%;
            color: white;
        }
    }
    .logout_res{
        display: flex;
        flex-direction: column;
        align-items: center;
        i{
            font-size: 200%;
            color: white;
        }
    }
    .login_res{
        display: flex;
        flex-direction: column;
        align-items: center;
        i{
            font-size: 200%;
            color: white;
        }
    }
        .highlight{
            i{
                color: rgba(255, 214, 0, 1);
                font-size: 200%
            }
        }
        .displayoriginal
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        i{
            font-size: 200%;
            color: white;
        }
    }
  
}
