
.Homepage_Common{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}.nav{
    display: flex;
    justify-content: space-between;
    background-color: #2E0052;
    align-items: center;
    color: white;
    height: 6vh;
}

.contactnumber{
    margin-left:2% ;
}

.contactnumber span{
    margin-right: 10%;
}
.login_signup {
    margin-right: 2%;
}
.login_signup span{
    color: white;
    
}
.login_signup a{
    text-decoration: none;
    color: white;
}

.header1{
    display: flex;
    flex-direction: column;
}
.company_logo img{
    width: 3vw;
}
.company_header{
    margin-left: 5%;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Homebutton{
    margin-left: 4%;
   
}
.Homebutton a{
    color: black;
}
.companyname h2{
    padding-bottom: 4% ;
}
.banner{
    display: flex;
    justify-content: center;
    position: relative;
}
.banner img{
    width: 70vw;
}
.model{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
   min-width: 10vw;
   max-width: 40vw;
    top: 10.2%;
    right: 25%;
    transform: translateX(50%);
    /* transform: translateY(50%); */
}
.model img{
    width: 25vw;
   /* display: block; */

}
.offertext{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    position: absolute;
    top: 16%;
    right: 55%;
    transform: translateX(50%);
    width: 54vw;
}
.offertext h1{
    font-size: 3vw;
}
.buynow button{
    background-color: #2E0052;
    color: white;
    width: 13vw;
}
.searchbox{
    display: flex;
    justify-content: center ;
    margin-top: 2vw;
}
.searchbox input{
    width: 70vw;
    height: 6vh;
    border: 3px solid #C8C8C8;
    border-radius: 48px;
    font-size: large;
}
.viewicons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.viewicons img{
    width: 2vw;
    cursor: pointer;
}
.listing_factors{
    display: flex;
    justify-content: center;
}
.listing_factor_inner_container{
    width: 70vw;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.listing_factors select{
  
    height: 4vh;
    border-radius: 34px;
    background-color: #D9D9D9;
    text-align: center;
}
.filter_factors{
    display: flex;
    
}
.filter_factors select{
    font-weight: 700;
}
.background img{
    background-color: black;
}
.image_basicInfo img{
width: 15vw;
max-width: 15vw;
max-height: 25vh;

/* height: 10vh; */
}
.image_basicInfo{
    width : 22vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 30px 0px #1c181814;
    justify-content: center;
    /* border: 0.5px solid black; */
    margin: 0.3%;
    
}
.image_basicInfo p{
    font-weight: 700;
    margin: 0;
    width: 15vw;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.product_details{
    padding: 0 0% 0 3%;
}